body {
  background-color: cadetblue;
  color: black;
}

#kennel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.petCard {
  padding: 0;
  min-width: 250px;
  width: 30%;
  margin: 20px 20px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px black;
  background-color: seashell;
}

.Dog footer {
  background-color: forestgreen;
  color: white;
}

.Cat footer {
  background-color: dodgerblue;
  color: white;
}

.Dino footer {
  background-color: darkorange;
  color: white;
}

h2 {
  background: slategray;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 300px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#refinePets {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: center;
}

#filterDogs {
  background-color: forestgreen;
}

#filterCats {
  background-color: dodgerblue;
}

#filterDinos {
  background-color: darkorange;
}

#showAll {
  background-color: slategray;
}

#filterPets {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: center;
}

#filterPets li {
  display: block;
  width: 100px;
  height: 35px;
  margin: 10px;
  text-align: center;
  color: white;
  border-radius: 5px;
  line-height: 35px;
  text-decoration: none;
}
