body {
  background-color: cadetblue;
  color: black;
}

#kennel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.pet {
  width: 30%;
  margin-bottom: 20px;
  box-shadow: 5px 5px black;
  background: rosybrown;
  color: #212121;
  text-align: center;
}

h2 {
  background: slategray;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 300px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.type {
  background-color:purple;
  margin-bottom: 0;
  margin-top: 0;
}
